name: Update all Minecraft versions

on:
  workflow_dispatch:
    inputs:
      start_commit:
        description: 'First commit hash for the update (inclusive)'
        required: true
        type: string
      update_version:
        description: 'Mod version string e.g. 1.1'
        required: true
        type: string

jobs:
  update_version:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "LilTOJustice@users.noreply.github.com"
      - name: Update repo mod version
        run: |
          sed -i "s/\s\sVERSION: '.*/  VERSION: '${{ github.event.inputs.update_version }}\'/g" .github/workflows/publish.yml
          sed -i "s/mod_version=.*/mod_version=${{ github.event.inputs.update_version }}/g" gradle.properties
          git commit -a || true
          git push || true
      - name: Create patch
        run: git format-patch ${{ github.event.inputs.start_commit }}^..HEAD --stdout > patch.patch
      - name: Create and publish branches
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
        run: |
          count=0
          regex_prefix="origin\/versions\/"
          branches=$(git branch -r | tr -d ' '); while read -r line; do
                  if [[ "$line" =~ $regex_prefix.* ]]; then
                          branch_name="${line:${#regex_prefix}-2}-update-${{ github.event.inputs.update_version }}"
                          git checkout -b $branch_name
                          git apply --reject patch.patch
                          git push -u origin $branch_name
                          gh pr create --base master
                          count=$((count + 1))
                  fi
          done <<< "$branches"
          echo "Created $count PRs"