name: Validate PR Targets

on:
  pull_request:
    branches:
      - master

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Test branch name
        if: contains(github.head_ref, 'versions/')  # Is version branch
        run: echo "Cannot PR version branch into master"; exit 1
